<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will it work?</title>
</head>
<body>
    <h1>Will I be able to save to the database?!</h1>
    <form action="POST">
        <input type="text" name="name" id="name">
        <button></button>
    </form>
    
</body>
</html>