/* 
====== 
Fonts
======
*/
@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Roboto&display=swap'); */

/* 
====== 
Variables 
======
*/
:root {
	--primaryColor: #7597f5;
	--primaryFormColor: #f5f7e9;
	--primaryDarkColor: #5245cc;
	/* --mainBackground: rgb(231, 240, 241); */
	--mainBackground: #f1f2f7;
	--mainWhite: #fff;
	--primaryFont: "Times New Roman", Times, serif;
	--slantedFont: "Times New Roman", Times, serif;
	--offWhite: #f7f7f7;
	--mainOverlay: rgba(35, 10, 36, 0.4);
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #afafaf;
	--mainRed: #bd0303;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 0.3rem;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
	--mainBorderRadius: 0.25rem;
	--smallWidth: 85vw;
	--maxWidth: 1170px;
}
[data-theme='dark'] {
	--primaryColor: #c3c9db;
	--primaryFormColor: #9da4b2;
	--primaryDarkColor: #173a76;
	--mainBackground: rgb(60, 63, 159);
}
/* --mainWhite: var(var(--primaryFormColor)); */
/* 
====== 
Global Styles 
======
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--primaryFont);
	color: var(--mainBlack);
	background: var(--mainBackground);
	line-height: 1.4;
	font-size: 1rem;
	font-weight: normal;
	margin-top: 5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--slantedFont);
	margin-bottom: 1.25rem;
	
}
p {
	margin-bottom: 1.25rem;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--mainBlack);
}
img {
	width: 100%;
	display: block;
}
/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryColor);
	border: 2px solid var(--primaryColor);
	padding: 0.45rem 0.8rem;
	display: inline-block;
	transition: var(--mainTransition);
	cursor: pointer;
	font-size: 0.8rem;
	background: transparent;
}
.btn:hover {
	background: var(--primaryColor);
	color: var(--mainWhite);
}
.btn-white {
	background: transparent;
	color: var(--mainWhite);
	border-color: var(--mainWhite);
}
.btn-white:hover {
	background: var(--mainWhite);
	color: var(--primaryColor);
}
.btn-primary {
	background: var(--primaryColor);
	color: var(--mainWhite);
	border-color: var(--primaryColor);
}
.btn-primary:hover {
	background: transparent;
	color: var(--primaryColor);
}
.btn-block {
	width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: var(--lightShadow);
	text-align: center;
}

/* 
====== 
Nav
======
*/

.navbar {
	background: var(--mainBackground);
	height: 5rem;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--primaryColor);
	box-shadow: var(--lightShadow);
}
.nav-container {
	width: 100%;
	position: relative;
}
.nav-center {
	width: var(--smallWidth);
	max-width: var(--maxWidth);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-sidebar-toggle,
.btn-close {
	background: transparent;
	border: none;
	font-size: 1.3rem;
	cursor: pointer;
}
.btn-close {
	color: var(--mainRed);
	font-size: 2rem;
}
.nav-links {
	display: flex;
	align-items: center;
}
.nav-links a,
.nav-aside a {
	text-transform: capitalize;
	display: inline-block;
	margin-right: 0.5rem;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 1.2rem;
	padding: 0.25rem 0.5rem;
	transition: var(--mainTransition);
	/* color: var(--primaryColor); */
}
.nav-links a:hover,
.nav-aside a:hover {
	color: var(--primaryColor);
}
.nav-logo {
	line-height: 0;
}
.logo {
	width: 4rem;
}
.big-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.nav-aside {
	display: flex;
	align-items: center;
}
.nav-aside a {
	margin-right: 4rem;
}
/* 
====== 
Home 
======
*/

.home {
	min-height: calc(100vh - 5rem);
	/* background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
		url('/plume.png') center/cover no-repeat; */
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primaryDarkColor);
}
.banner {
	margin-top: 5rem;
	width: var(--smallWidth);
	max-width: var(--maxWidth);
}
.home h1 {
	font-size: 3rem;
	text-transform: capitalize;
}
.home p {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px;
	margin-bottom: 1.75rem;
}
.btn-home {
	border-radius: 0;
	font-weight: bold;
	padding: 0.8rem 1.5rem;
	background: var(--primaryDarkColor);
	border-color: var(--primaryDarkColor);
}
.btn-home:hover {
	color: var(--primaryDarkColor);
}
@media screen and (min-width: 768px) {
	.banner {
		margin-top: 0;
	}

	.home h1 {
		font-size: 5rem;
	}
	.home p {
		font-size: 2.3rem;
	}
	.btn-home {
		font-size: 1.2rem;
		padding: 1rem 1.5rem;
		padding: 1rem 3rem;
	}
}
/* 
====== 
Projects
======
*/
.section {
	padding: 2rem 0;
}
.projects-section {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	padding-right: 4rem;
	padding-left: 4rem;
}
.project-controls {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
}

.section-title {
	font-size: 2.3rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	text-align: center;
	margin-bottom: 3.5rem;
}
.projects-center {
	width: var(--smallWidth);
	margin: 0 auto;
	max-width: var(--maxWidth);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	column-gap: 1.8rem;
	row-gap: 1.8rem;
	/* align-items: start; */
}
.title {
	text-align: center;
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
	font-size: 2.3rem;
}
.project {
	background: var(--mainWhite);
	margin-bottom: 2rem;
	box-shadow: var(--lightShadow);
	transition: var(--mainTransition);
	display: grid;
	grid-template-rows: auto 1fr;
}
.project:hover {
	box-shadow: var(--darkShadow);
}
.img-container {
	padding: 3rem;
	background: rgba(255, 255, 255, 0.5);
	position: relative;
	/* height: 5rem; */
}
.project img {
	transition: var(--mainTransition);
}
.project:hover img {
	opacity: 0.3;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: var(--mainTransition);
}
.project:hover .project-link {
	opacity: 1;
}
.project-footer {
	padding: 0rem 1rem 1rem 1rem;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	display: grid;
	grid-template-rows: 1fr auto;
}
.project-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}
.project-price {
	color: var(--primaryColor);
	font-weight: bold;
	margin-bottom: 0;
	font-size: 1.1rem;
}
.input {
	border-radius: 5px;
}
.invalid {
	border-radius: 5px;
	border-color: red;
	background: rgb(228, 175, 175);
}
@media (min-width: 768px) {
	.projects-section {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* 
====== 
Sidebar
======
*/
.sidebar-container {
	background: var(--mainBackground);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}
.sidebar {
	width: var(--smallWidth);
	margin: 0 auto;
}
.sidebar-header,
.sidebar-logo {
	margin-top: 1.5rem;
}
.sidebar-links {
	margin-top: 2.5rem;
}
.sidebar-links a {
	font-size: 1.5rem;
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: var(--mainSpacing);
	display: block;
	margin: 0.5rem 0;
	transition: var(--mainTransition);
}
.sidebar-links a:hover {
	color: var(--primaryColor);
	padding-left: 0.5rem;
}
/* 
====== 
Ez Modal
======
*/
.ez-overlay {
	background: var(--mainOverlay);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	/* overflow-y: scroll; */
}
.ez-container {
	width: 100%;
	height: inherit;
	overflow-y: scroll;
	background: var(--mainBackground);
	margin-left: auto;
}

@media screen and (min-width: 768px) {
	.ez-container {
		width: 30vw;
		min-width: 450px;
	}
}

.ez {
	width: 85%;
	height: inherit;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}
.ez-header {
	justify-content: space-between;
}
.ez-title-bad {
	margin-bottom: 0;
	justify-self: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	background-color: red;
	color: #222;
}
.ez-title-good {
	margin-bottom: 0;
	justify-self: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	background-color: aquamarine;
	color: #222;
}
/* 
====== 
Single Project
======
*/
.single-project {
	width: var(--smallWidth);
	max-width: var(--maxWidth);
	margin: 0 auto;
	margin-top: 10rem;
}
.single-project-container {
	margin: 4rem 0;
}
.single-project article {
	margin-bottom: 3rem;
}
.single-project-table {
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	text-align: left;
	padding: 8px;
}
tr:nth-child(odd) {
	background-color: #f3d9dc;
}

.content,
footer {
	padding: 1rem;
}
.single-project-image {
	max-width: 40%;
	margin: 0 auto;
	align-self: center;
}
.single-project h1 {
	text-transform: capitalize;
	font-size: 2.3rem;
	letter-spacing: var(--mainSpacing);
}
.single-project h2 {
	color: var(--primaryColor);
}
.single-project p {
	line-height: 2;
	letter-spacing: 1px;
}
@media screen and (min-width: 992px) {
	.single-project-container {
		display: grid;
		grid-template-columns: 2fr 3fr;
		column-gap: 3rem;
	}
}

/* 
====== 
Project Item
======
*/
.project-item-article {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	/* border-radius: 5px; */
	border-radius: 5%;
	background: var(--primaryFormColor);
	margin: 1rem;
}

.project-item-header,
.project-item-content,
.project-item-footer {
	padding: 0.5rem;
}

.project-item-image {
	width: 100%;
	height: 14rem;
}

.project-item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-item-header h1 {
	display: flex;
	justify-content: space-between;
	font-size: 1.25rem;
	margin: 0.1rem 0;
	font-family: 'Roboto Slab', sans-serif;
}

.project-item-header h2 {
	font-size: 1rem;
	color: #808080;
	margin: 0.5rem 0;
}

.project-item-content p {
	font-size: 1.25rem;
	margin: 0;
	height: 4rem;
}
.wrap-flex {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

/* 
====== 
Loading
======
*/
.loading {
	width: var(--smallWidth);
	text-transform: capitalize;
	text-align: center;
	margin: 0 auto;
	margin-top: 10rem;
}
.loading img {
	width: 10rem;
	margin: 0 auto;
}
/* 
====== 
Alert
======
*/

.alert-container {
	border-radius: 5%;
	border-style: solid;
	border: 2px solid white;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: green;
	width: 23rem;
	padding: 2.5rem 1rem;
	text-align: center;
	color: var(--mainWhite);
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	/* border-radius: var(--mainBorderRadius); */
}
.alert-center {
	position: relative;
}
.alert p {
	margin-bottom: 0;
	line-height: 2;
}
.alert-danger {
	background: var(--mainRed);
}
.alert-close {
	color: var(--mainWhite);
	font-size: 1.5rem;
	background: transparent;
	border: none;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 7px;
	cursor: pointer;
	line-height: 0;
}

/* 
====== 
Login Form
======
*/
.form {
	width: var(--smallWidth);
	margin: 0 auto;
	margin-top: 10rem;
	max-width: 35rem;

}
.login-form,
.checkout-form {
	background: var(--mainWhite);
	padding: 1.25rem 1rem;
	text-transform: capitalize;
	border-radius: var(--mainBorderRadius);
	box-shadow: var(--lightShadow);
}

.form-control label {
	display: block;
}
.form-control input {
	width: 80%;
	border: none;
	border-bottom: 2px solid var(--darkGrey);
	margin-bottom: 1.25rem;
	padding: 0.5rem;
	font-size: 1.2rem;
}
.form-empty,
.stripe-errors {
	text-align: center;
	color: var(--mainRed);
}
.register-link {
	margin-bottom: 0;
	margin-top: 1rem;
	text-align: center;
}
.register-link button {
	background: transparent;
	border: none;
	color: var(--primaryColor);
	text-transform: capitalize;
	font-size: inherit;
	display: inline-block;
	margin-left: 0.5rem;
	cursor: pointer;
}
.disabled {
	color: var(--mainWhite);
	background: var(--darkGrey);
	border-color: var(--darkGrey);
}
.disabled:hover {
	background: transparent;
	color: var(--darkGrey);
	border-color: var(--darkGrey);
}
/* 
====== 
Project Modal
======
*/
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 10;
}

.modal {
	position: fixed;
	top: 10vh;
	left: 10%;
	width: 80%;
	max-height: 80vh;
	background: var(--primaryFormColor);
	/* border-radius: 5px; */
	border-radius: 5%;
	z-index: 100;
	box-shadow: 0 2px 8px rgba(177, 176, 176, 0.26);
	overflow: scroll;
}

h1 {
	padding: 1rem;
	margin: 0;
	border-bottom: 1px solid #ccc;
	font-family: 'Roboto Slab', sans-serif;
}

.content {
	padding: 1rem;
}

footer {
	padding: 1rem;
}

@media (min-width: 768px) {
	.modal {
		width: 40rem;
		left: calc(50% - 20rem);
	}
}
/* 
====== 
Badge
======
*/
.badge-span {
	display: inline-block;
	margin: 0 0.25rem;
	border-radius: 3px;
	border: 1px solid var(--primaryColor);
	background: var(--primaryColor);
	color: white;
	padding: 0 0.5rem;
	font-family: 'Lato', sans-serif;
	font-size: 0.8rem;
}
/* 
====== 
Project Filter
======
*/
.filter-div {
	font-size: 0px;
}

.filter-button {
	background: #aaaaaa;
	font: inherit;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #aaaaaa;
	padding: 0.5rem 1rem;
}
.filter-button:hover,
.filter-button:active,
.active {
	background: var(--primaryDarkColor);
	border-color: var (--primaryDarckColor);
	/* background: #cf0056; */
	/* border-color: #cf0056; */
	color: white;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
}

/* button:focus {
    outline: none;
  } */

/* button:first-of-type {
    border-radius: 5px 0 0 5px;
  } */

/* button:last-of-type {
    border-radius: 0 5px 5px 0;
  } */

/* :root {
	--primary-color: #6495ed;
	--bg-color: white;
	--color: #333;
}

[data-theme='dark'] {
	--primary-color: #2b3f63;
	--bg-color: #000;
	--color: #ddd;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--bg-color);
	color: var(--color);
}
.container {
	max-width: 960px;
	margin: 0 auto;
}
input,
textarea {
	background-color: transparent;
} */
