<form action="/add-post" method="POST"></form>
<Label>Title:<input type="text" name="title" id=""></Label>
<Label>Author:<input type="text" name="author" id=""></Label>
<Label>Content:<textarea name="content" id="" cols="30" rows="10"></textarea></Label>
<button type="submit">Submit your awesome post!!</button>
</form>
